html {
    height: 100%;
    font-family: 'Montserrat', serif;
}

h2 {
    font-size: 8px;
    text-align: center;
}

.button {
    background-color: #406cb4;
    border:none;
    color: white;
    cursor: pointer;
    font-size: 8px;
    margin-left: 400px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}