{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>60-Healthy Minds</title>
	<link rel="stylesheet" href="homepage.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Nanum+Gothic|Open+Sans+Condensed:300|PT+Sans+Narrow" rel="stylesheet">	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>
	<div class="navbar">
		<img src="healthymindslogo.png" id="logo">
		<div class="yoganav">
			<a href="sources.html">SOURCES</a>
			<a href="aboutus.html">ABOUT US</a>
			<a href="interactiveyoga.html">YOGA</a>
		</div>
		<div class="dropdown">
			<a href="homepage.html" class="dropbtn">MENTAL HEALTH
			</a>
			<div class="dropdown-content">
				<a href="generalInfo.html">INTRODUCTION</a>
				<a href="depression.html">DEPRESSION</a>
				<a href="anxiety.html">ANXIETY</a>
				<a href="resourcesarticle.html">FINDING RESOURCES</a>
			</div>
		</div>
		<a href="homepage.html">HOME</a>
	</div>
	<div class="parallax"></div>
	<div class="pagescontainer">
		<div class="random"></div>
		<p id="missionheader">MISSION STATEMENT</p>
		<p id="missionpara">Healthy Minds strive to guide users to a healthier mindset and lifestyle through personal reflection, healthier habits, and mindfulness practices.</p>
	</div>
	<div class="uniquecontainer">
		<div class="uniquetitle">
			<h2 id="uniquetitle">How is Healthy Minds unique?</h2>
		</div>
		<div class="uniquecolumn-left">
			<img src="earth.gif" class="earthgif">
			<p class="top-text">We're here to offer guidance and education about mental wellness.</p>
			<p class="body-text">We offer the guidance and encouragement you need to find hope, get motivated, and take charge of your mental health better.</p>
		</div>
		<div class="uniquecolumn-center">
			<img src="mountain.png" id="mountainpic">
			<p class="top-text">We offer interactive features that can start to help you begin your journey.</p>
			<p class="body-text">We focus on what you need to know to understand the challenges you might face, make informed decisions, and take positive steps.</p>
		</div>
		<div class="uniquecolumn-right">
			<img src="dinosaur1.png" class="dinosaurimg">
			<p class="top-text">Our website serves to help you find other resources that you can also look to.</p>
			<p class="body-text">We offer many other reputable resources to get the information and help that you need. Look towards our resource page.</p>
		</div>
	</div>
	<div class="aboutmediv">
		
		<img src="https://media.giphy.com/media/RHJMmRE36k0nZvQF3s/giphy.gif" id="pig">
		<h1 id="abouttitle">ABOUT US</h1>
		<p id="aboutpara">Healthy Minds is an independent organization that provides a basic guide to maintaining mental and physical health. Our mission is to empower people with information they can use to help themselves and their loved ones.</p>
		<button id="aboutbutton" onclick="location.href='aboutus.html'">Learn More</button>
		
	</div>
	<div class="importancecontainer">
		<h1 id="importancetitle">WHY IS MENTAL HEALTH IMPORTANT?</h1>
		<p id="importancegen">Mental health is integral to living a healthy, balanced life. According to the National Alliance of Mental Illness (NAMI), one in five American experience mental health issues which translates to more than 40 million adults a year.
				Our mental health encompasses our psychological, emotional and social well-being.
		</p>
		<h1 id="emotionaltitle">WHY IS EMOTIONAL HEALTH IMPORTANT?</h1>
		<p id="emotionalpara">Emotional and mental health is important because it’s a vital part of your life and impacts your thoughts, behaviors and emotions. Being healthy emotionally can promote productivity and effectiveness in activities like work, school or caregiving. It plays an important part in the health of your relationships, and allows you to adapt to changes in your life and cope with adversity.
		</p>
		<h1 id="improvetitle">How can you improve your emotional health day-to-day?</h1>
		<p id="generalpara">There are steps you can take to improve your mental health everyday. Small things like exercising, eating a balanced and healthy meals, opening up to other people in your life, taking a break when you need to, remembering something you are grateful for and getting a good night’s sleep, can be helpful in boosting your emotional health. When you feel your emotional health declining, it's recommended that you try additional things to help and also seek out support when needed.</p>
		<h1 id="reachouttitle">When is a good time to reach out for help?</h1>
		<p id="reachoutpara">Issues related to mental health can impact different people in different ways. If you start to see changes in your overall happiness and relationships, there are always ways get the support you want. Here are some ways you can get help:
		</p>
		<ul class="reachoutbullet">
			<li>Connect with other individuals, friends and family</li>
			<li>Learn more about mental health.</li>
			<li>Take a mental health assessment.</li>
			<li>Talk to a professional. <br>
				Find out more about resources:</li>
		</ul>
		<img src="https://media.giphy.com/media/XxubwwU3PJ2657H5Br/giphy.gif" id="resourcesgif">
		<button id="resourcesbutton" onclick="location.href='resourcesarticle.html'">FIND RESOURCES</button>

		<p id="reachoutpara2">Lastly, you can also learn more about taking care of your mental health on our website. Discover ways to take a healthy approach to your emotional wellness, as well as understand issues like depression and how it can affect men and women differently.</p>
	</div>
	<div class="footer-basic">
		<footer>
			<ul class="footernav">
				<li class="list-inline-item"><a href="homepage.html">HOME</a></li>
				<li class="list-inline-item"><a href="generalInfo.html">INTRODUCTION</a></li>
				<li class="list-inline-item"><a href="interactiveyoga.html">YOGA</a></li>
				<li class="list-inline-item"><a href="aboutus.html">ABOUT US</a></li>
				<li class="list-inline-item"><a href="sources.html">SOURCES</a></li>
			</ul>
			<p class="copyright">Healthy Minds - CI 103 Drexel University @ 2021</p>
		</footer>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
